.view-movie {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ddd;

}

.view-movie-theater {
  max-height: 100%;
  max-width: 100%;
}

.view-movie-theater-title p {
  text-align: center;
  color: #363636;
}

.view-movie {

}

#iframe {
  width: 900px;
  height: 505px;
}

.view-movie-theater-details {
  font-family: 'Montserrat-Light';
  font-size: .8em;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
