@font-face {
  font-family: Montserrat-UltraLight;
  src: url("./fonts/Montserrat-UltraLight.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("./fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
  font-family: Didot;
  src: url("./fonts/TheanoDidot-Regular.ttf") format("truetype");
}

body {
  background-color: #fafafa;
  font-family: 'Montserrat-Light', sans-serif;
  /*border-top: 140px;*/
  background-color: #fafafa;
}


* {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #363636;
}

li {
  color: #363636;
  list-style: none;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

/*.container {
  display: flex;
  vertical: center;
}*/

.navbar-separation {
  padding-top: 130px;
}



/*#navbar-top-navbar-color-drama {
  background-color: ;
  border-bottom: 1px solid #3498db;
  transition: all .3s;
}

#navbar-top-navbar-color-comedy {
  background-color: #f2992e;
  border-bottom: 1px solid #f2992e;
  transition: all .3s;
}

#navbar-top-navbar-color-thriller {
  background-color: #36465d;
  border-bottom: 1px solid #36465d;
  transition: all .3s;
}

#navbar-top-navbar-color-horror {
  background-color: #EF4836;
  border-bottom: 1px solid #EF4836;
  transition: all .3s;
}

#navbar-top-navbar-color-musical {
  background-color: #a77dc2;
  border-bottom: 1px solid #a77dc2;
  transition: all .3s;
}

#navbar-top-navbar-color-bender {
  background-color: #2ecc71;
  border-bottom: 1px solid #2ecc71;
  transition: all .3s;
}*/
