.navbar-bottom {
  max-width: 900px;
  height: 28px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.navbar-bottom-genres-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*remove padding-top and center it*/
.navbar-bottom > div {
  color: black;
  font-size: .75em;
  letter-spacing: 1px;
  border-left: 1px solid #ddd;
  text-align: center;
  width: 112.5px;
  width: 150px;
  padding-top: 7px;
  transition: all .3s;
}

.navbar-bottom div:nth-child(6) {
  border-right: 1px solid #ddd;
}

/*
  genres hover and selected - fix with sass
*/

#genres-drama:hover, .genres-drama-selected {
  background-color: #3498db;
}

#genres-comedy:hover, .genres-comedy-selected {
  background-color: #f2992e;
}

#genres-thriller:hover, .genres-thriller-selected {
  background-color: #36465d;
}

#genres-horror:hover, .genres-horror-selected {
  background-color: #EF4836;
}

#genres-musical:hover, .genres-musical-selected {
  background-color: #a77dc2;
}

#genres-bender:hover, .genres-bender-selected {
  background-color: #2ecc71;
}

/*
  anchor text - must be done separately or else the anchor tag
  background turns color at a different rate
*/

#genres-drama:hover a, .genres-drama-selected a {
  color: white;
}

#genres-comedy:hover a, .genres-comedy-selected a {
  color: white;
}

#genres-thriller:hover a, .genres-thriller-selected a {
  color: white;
}

#genres-horror:hover a, .genres-horror-selected a{
  color: white;
}

#genres-musical:hover a, .genres-musical-selected a {
  color: white;
}

#genres-bender:hover a, .genres-bender-selected a {
  color: white;
}
