

.section {
  text-align:center;
  font-size: 3em;
}
#callbacks-placeholder{
  position:fixed;top:50px;left:50px;color:black;z-index:999;
}

img {



  zoom: 200%:
}

#section-one {
  background: black;

}

/*#section1 {
  background-color: red;
}
#overlay {
  background-image: url("landing_image2.png");
  background-position: 50% 50%;
background-position: 50%;
background-position: 100px 100px;
background-position: center;


}*/
