.view-movies-detail-accordion {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.view-movies-detail-accordion-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.view-movies-detail-accordion-top div {

}

.view-movies-detail-accordion-top div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 33%;
}

.view-movies-detail-accordion-top-eye {
  justify-content: left;
}

#view-movies-detail-accordion-top-eye span {
  color: #BDC3C7;
  font-size: 25px;
}

#view-movies-detail-accordion-top-chevron {
  justify-content: center;
}

.lnr-chevron-down-circle {
  font-size: 25px;
  color: #BDC3C7;
  z-index: 2;
  display: inline-block;

}

.lnr-chevron-down-circle:hover {
  color: black;
  cursor: pointer;
  cursor: hand;
}

#lnr-chevron-down-active {
  -webkit-transform: rotate(-180deg);
}

#lnr-chevron-down-inactive {
}

#view-movies-detail-accordion-top-heart {
  justify-content: flex-end;
}

#view-movies-detail-accordion-top-heart span {
  color: #BDC3C7;
  -webkit-transition: all .3s;
}

#view-movies-detail-accordion-top-heart span:hover {
  color: #363636;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all .3s;
}



/*
  Accordion
*/
.view-movies-detail-accordion-inactive div {
  min-height: 0;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  /*-webkit-transition: all 1s ease-in-out;*/
  -webkit-transition: max-height .3s ease-in-out, opacity .3s ease-in-out;
}

/* max-height is an arbitrary number */
.view-movies-detail-accordion-active div {
  max-height: 500px;
  visibility: visible;
  opacity: 1;
  /*-webkit-transition: all 1s ease-in-out;*/
  -webkit-transition: max-height .6s ease-in-out, opacity .7s ease-in-out;
}

#white-block {
  background-color: white;
}
